@model IEnumerable<DienthoaiApple.Models.GioHang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Giỏ hàng</h2>

<p>
    @Html.ActionLink("Thêm sản phẩm", "Create")
</p>
<table class="table">
    <tr>
        <th> Tên Sách </th>
        <th> Hình </th>
        <th> Giá Bán </th>
        <th> Số Lượng </th>
        <th> Thành Tiền </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> Tên Điện thoại </td>
            <td> <img src="@item.hinhdt" width="180" /></td>
            @using (Html.BeginForm("CapnhatGiohang", "GioHang", new { @id = item.madt }))
            {
                <td> @String.Format("{0:0,0}", item.giaban) VNĐ </td>
                <td> <input type="number" min="1" name="txtSolg" value="@item.iSoluong " /> </td>
                //<td> @Html.DisplayFor(modelItem => item.dThanhtien)</td>
                <td> @String.Format("{0:0,0}", item.dThanhtien) VNĐ </td>
                <td> <a href="@Url.Action("Detail","Dienthoai", new {id=item.madt })"> Chi tiết</a> | @Html.ActionLink("Xóa", "XoaGiohang", new { @id = item.madt })</td>
                <td><input type="submit" value="Cập nhật" class="btn btn-success" /></td>
            }
        </tr>
    }
    <tr style="font-weight: bold; text-align:left;color:red">
        <td colspan="2"> Số loại điện thoại: @ViewBag.Tongsoluongsanpham </td>
        <td colspan="2"> Số lượng điện thoại: @ViewBag.Tongsoluong </td>
        <td colspan="4"> Tổng tiền: @String.Format("{0:0,0}", ViewBag.Tongtien) VNĐ </td>
    </tr>

    <tr style="font-weight:bold; color:yellow; text-align:right">
        <td colspan="5">
            @Html.ActionLink("Đặt hàng", "DatHang", "GioHang")
        </td>
    </tr>

</table>

