@model PagedList.IPagedList<DienthoaiApple.Models.Dienthoai>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="header">
    <img src="~/Content/Img/demo14.jpg" width="auto" height="300px" />

</div>


<h2>Sản phẩm có tại Store</h2>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    @item.tendt
                </div>


                <div class="panel-body">
                    <p><strong>Giá: </strong>@item.giaban</p>
                    <p><strong>Ngày cập nhật: </strong>@item.ngaycapnhat</p>
                    <p><strong>Số lượng tồn: </strong>@item.soluongton</p>
                    <p><img src="@item.hinhdt" width="50%" height="130px" alt="hinh thumnail"></p>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        <div class="DatMua">
                            <a class="btn btn-success" href="@Url.Action("ThemGioHang", "GioHang", new { @id = item.madt, @strURL = Request.Url.ToString() })">Đặt mua</a>

                            @Html.ActionLink("Xem thêm", "Detail", new { @id = item.madt })

                        </div>
                    </div>
                    <script>
                        $(document).ready(function () {
                            var maxLength = 100;
                            $(".show-read-more").each(function () {
                                var myStr = $(this).text();
                                if ($.trim(myStr).length > maxLength) {
                                    var newStr = myStr.substring(0, maxLength);
                                    var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                                    $(this).empty().html(newStr);

                                    $(this).append(' <a href="javascript:void(0);" class="read-more">đọc tiếp...</a>');

                                    $(this).append('<span class="more-text">' + removedStr +
                                        '</span>');
                                }
                            });
                            $(".read-more").click(function () {
                                $(this).siblings(".more-text").contents().unwrap();
                                $(this).remove();
                            });
                        });

                    </script>
                </div>
            </div>

        </div>


    }
</div>
<div class="row">

    <div>
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) /
        @Model.PageCount
    </div>
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new
        {
               page = page
      
        }))
    </div>
    </div>




<strong>
    <td href="#">Chăm sóc khách hàng </td>

    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fthedai222002&tabs=timeline&width=350&height=250&small_header=true&adapt_container_width=false&hide_cover=true&show_facepile=false&appId" width="350" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    
</strong>
